@import "./variables.scss";

*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "roboto", sans-serif;
  font-size: 1rem;
  background-color: $main-grey;
  color: $dark-font-color;

  p {
    line-height: 133%;
    letter-spacing: 0.15px;
  }
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 38px;
  line-height: 45px;
}

h2 {
  font-family: Raleway;
  font-size: 1.563rem;
  font-weight: medium;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: $site-width;
}

.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: auto;
}

button {
  border: none;
  outline: none;
}

.toggle-btn {
  cursor: pointer;
}
