@import "./variables.scss";
@import "./navbar.scss";
@import "./footer.scss";

*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;

  p {
    line-height: 1.563rem;
  }
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3rem;
  font-weight: normal;
}

h2 {
  font-size: 1.563rem;
  font-weight: medium;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: $site-width;
}

.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: auto;
}
