.article-img {
  min-height: 500px;
}

.iframe-container {
  margin: 20px 0;
  padding-bottom: 56.25%;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;

  iframe {
    flex: 1 1 auto;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media screen and (min-width: 700px) {
  .blogpost-container {
    margin: 0 auto;
    max-width: 80%;
  }
}
