.hero-wrapper {
  z-index: -1;
  margin-top: -50px;
}

.bcg {
  z-index: -1;
  min-height: 350px;
  background: rgba(29, 9, 15, 0.2);
  position: relative;
  background-position: -258px 50%;
  background-repeat: no-repeat;
  background-size: 200%;
}

@media screen and (min-width: 980px) {
  .bcg {
    min-height: 810px;
  }
}
