@import "../styles/variables";

footer {
  overflow: hidden;
  clip-path: polygon(0% 0%, 100% 15%, 100% 100%, 0% 100%);
  display: block;
  background-color: $primary-color;
  width: 100%;

  .center {
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
    align-self: center;
  }

  .copy {
    font-weight: 500;
    font-size: 12px;
    color: $secondary-font-color;
  }

  .footer-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 40px;
    color: $light-font-color;

    .footer-social {
      padding-top: 31px;
      line-height: 0;

      svg {
        width: 51px;
        height: 49px;
      }
    }

    h4 {
      font-size: 20px;
      font-weight: 700;
      padding-bottom: 16px;
    }
  }

  .footer-info-container {
    padding-left: 10px;

    h5 {
      font-weight: 500;
      font-size: 14px;
    }

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 16.41px;
    }

    .pt8 {
      padding-top: 8px;
    }
  }
}

footer .ball-container {
  display: none;
}

@media screen and (min-width: 768px) {
  footer .footer-info {
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-wrapper {
    max-height: 263px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .ball-container {
      display: block;
      position: relative;
      right: -100px;
      bottom: -200px;
    }
  }
  .ball-img {
    width: 327px;
    height: 327px;
  }
}
