@import "../styles/variables.scss";

h1 {
  font-size: 38px;
  margin-bottom: 25px;
  color: $light-font-color;
  font-weight: 800;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.64);
}

.flex-wrapper {
  position: absolute;
  bottom: 0px;
  display: flex;
  align-items: flex-end;
}

@media screen and (min-width: 700px) {
  h1 {
    font-size: 65px;
    line-height: 113px;
    margin-bottom: 31px;
  }
}

@media screen and (min-width: 980px) {
  h1 {
    font-size: 96px;
    line-height: 113px;
    margin-bottom: 92px;
  }
}
