@import "../styles/variables.scss";

// Navbar
.navbar {
  background-color: $main-grey;
  height: 64px;

  .nav-container {
    max-height: 100%;
    margin: 0 auto;
    padding: 0 20px;
    max-width: $site-width;
  }
}

.toggle-btn {
  background-color: transparent;
}

.menuIcon {
  font-size: 32px;
  cursor: pointer;
  color: $primary-color;
}

.nav-logo svg {
  // padding: 1rem 0;
  background-color: transparent;
}

.nav-center {
  margin-top: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;

  .links-container {
    display: none;

    li {
      font-size: 26px;
      font-weight: 500;
      font-size: 26px;
      line-height: 133%;
      color: $light-font-color;
      text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.65);
    }
  }
}

@media screen and (min-width: 980px) {
  .navbar {
    background-color: transparent;
  }

  .toggle-btn {
    display: none;
  }

  .nav-center .links-container {
    display: block;

    ul {
      display: flex;
      li {
        padding: 1rem;
      }
    }
  }
}
