@import "../styles/variables.scss";

// Navbar
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  background-color: $main-grey;
  height: 64px;

  .nav-container {
    max-height: 100%;
    margin: 0 auto;
    padding: 6px 20px 0 20px;
    max-width: $site-width;
  }
}

.toggle-btn {
  background-color: transparent;
}

.menuIcon {
  font-size: 32px;
  cursor: pointer;
  color: $primary-color;
}

.nav-logo {
  svg {
    // padding: 1rem 0;
    background-color: transparent;
  }
}

.nav-center {
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;

  .links-container {
    display: none;

    li {
      font-size: 26px;
      font-weight: 500;
      font-size: 26px;
      line-height: 133%;
    }
  }
}

@media screen and (min-width: 980px) {
  .toggle-btn {
    display: none;
  }

  .navbar .nav-container {
    padding: 0 20px;
  }

  .nav-center .links-container {
    display: block;
    align-items: center;
    align-content: center;

    ul {
      display: flex;
      li {
        padding: 1rem;
        color: $primary-color;
        font-weight: 600;

        :hover {
          color: lighten($color: $primary-color, $amount: 20);
        }
      }
    }
  }
}
